option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: "false"
    APP_KEY: ""  # Will be set during deployment
    APP_URL: ""  # Will be set during deployment

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /public

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 7

  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: true
    DeleteOnTerminate: true
    RetentionInDays: 7
